-injars web/build/libs/tilepay-0.0.4.jar
-libraryjars web/build/libs/tilepay-0.0.4/lib/javax.inject-1.jar

-keepclasseswithmembernames,includedescriptorclasses class * {
native <methods>;
}
-keepclassmembers class * { @org.springframework.beans.factory.annotation.Autowired *; }
-keepclassmembers class * { @javax.inject.Inject *; }
-renamesourcefileattribute 'SourceFile'