<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form id="saveNewAccount" th:action="@{/saveNewAccount}" th:object="${account}" role="form" method="POST">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title text-center" th:utext="#{login.getPassphrase}"></h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p th:utext="#{login.passPhraseInfo}"></p>
                                        <textarea id="passPhrase" th:field="*{passPhrase}" class = "form-control input-lg text-center"></textarea>
                                    <br/>
                                    <div class="alert alert-danger" >
                                        <span th:utext="#{login.passPhrase.message1}"></span>
                                    </div>
                                    <div class="width-max">
                                        <input type="checkbox" name="passphraseSaved" id="passphraseSaved" value="1" onchange="activateButton(this,next3stepBtn)"/>
                                        <label th:utext="#{login.passPhrase.message2}" for="passphraseSaved"></label>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <a href="/login" class="btn btn-default" th:utext="#{login.button.back}"></a>
                                    <button id="next3stepBtn" type="button" class="btn btn-primary" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" th:utext="#{login.button.next}"></button>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title text-center" th:utext="#{login.termsAndConditions}"></h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div th:replace="termsAndConditions :: content"></div>
                                    <div class="width-max">
                                        <input type="checkbox" name="acceptedTerms" id="acceptedTerms" onchange="activateButton(this,next4stepBtn)"/>
                                        <label th:utext="#{login.acceptTermsAndConditions}" for="acceptedTerms"></label>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="button" class="btn btn-default" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" th:utext="#{login.button.back}"></button>
                                    <button id ="next4stepBtn" type="button" class="btn btn-primary" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" th:utext="#{login.button.next}"></button>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title text-center" th:utext="#{login.setPassword}"></h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">

									
                                    <p th:utext="#{login.enterPassword}"></p>
                                    <div class="input-group">
                                    	<input type="password" name="enterPassword" id="enterPassword" class="form-control"/>
                                    	<div class="alert alert-warning" id="divCheckPasswordComp" th:utext="#{login.password.length}">
                                		</div>
                                    </div>
                                    <br/>
                                    <p th:utext="#{login.reEnterPassword}"></p>
                                    <div class="input-group">
                                    	<input type="password" th:field="*{password}" name="confirmPassword" id="confirmPassword" class="form-control"/>
                                		<div class="alert alert-warning" id="divCheckPasswordMatch" th:utext="#{login.password.match}">
                                		</div>
                                	</div>
                                </div>
                                
                                <div class="text-center">
                                    <button type="button" class="btn btn-default" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" th:utext="#{login.button.back}"></button>
                                    <button id ="lastStepBtn" type="button" class="btn btn-primary" data-toggle="collapse" onclick="checkPasswordMatch();" data-parent="#accordion" href="#collapseFour" th:utext="#{login.button.next}"></button>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title text-center" th:utext="#{login.chooseAccountType}"></h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse">
                                <div class="panel-body text-center">

                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-primary">
                                            <input type="radio"  th:field="*{accountType}" th:value="INDIVIDUAL" onchange="activateButton(this, saveAccount)" class="form-control"/><span th:utext="#{login.button.individualAccount}"></span>
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio"  th:field="*{accountType}" th:value="COMPANY" onchange="activateButton(this, saveAccount)" class="form-control"/><span th:utext="#{login.button.companyAccount}"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="button" class="btn btn-default" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" th:utext="#{login.button.back}"></button>
                                    <button  type="submit" class="btn btn-primary" th:utext="#{login.button.createNewAccount}" id="saveAccount"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="sync-status" class="progress hidden" th:fragment="loading-bar">
                            <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuemin="0" aria-valuemax="100"  aria-valuenow="100" style="width:100%">
                                <span th:utext="#{login.progress.loading}"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</html>