<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="header">
  	<!-- TODO: activate this once we have CoinBase Imported profile (both individual & business for same account)
    <ul class="nav nav-tabs" role="tablist">
      <li>
        <a href="/profile/individual" th:text="#{profileHeader.tab.IndividualProfile}"></a>
      </li>
      <li>
        <a href="/profile/business" th:text="#{profileHeader.tab.companyProfile}"></a>
      </li>
    </ul>
    -->
  </div>
</html>