<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<div th:fragment="walletMarkets">
		<ul class="nav nav-tabs" role="tablist">
	    	<li class="active"><a href="#createAsset" id="createAssetTabId" role="tab" data-toggle="tab"><i class="fa fa-history">&nbsp; </i><span th:utext="#{wallet.send.tab.createAsset}"></span></a></li>
	    	<li><a href="#assetList" id="assetListTabId" role="tab" data-toggle="tab"><i class="fa fa-history">&nbsp; </i><span th:utext="#{wallet.send.tab.assetList}"></span></a></li>
	    </ul>

		<div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row tab-content">
                    <div class="tab-content">
                        <div class="tab-pane active" id="createAsset">
                            <div th:if="${assetCreationSummary} == null" th:include="assetCreation :: assetCreation" ></div>
                            <div th:if="${assetCreationSummary} == true" th:include="assetCreationSummary :: assetCreationSummary" ></div>
                        </div>
                        <div class="tab-pane" id="assetList">
                            <div th:include="assetList :: assetList" ></div>
                        </div>
                    </div>
                </div>
	        </div>
        </div>
	</div>

</html>